.position-relative {
    position: relative;
}

/* Layout Classes */

.direction-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-center-justify {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;

}


.flex-spread-evenly {
    display: flex;
    justify-content: space-between;

}

/* Override defaults */

.MuiFormControlLabel-root {
    margin: 0 !important;
}

.component-wrapper {
    margin-top: 20px;

}

.transparent-strip {
    background-color:#00000036;
    
    padding: 0 15px;
}

.forecast-panels {
    padding: 0 15px;
}

.curr-weather-box {

    height: 70vh;
    padding: 10px 0px;
    background-image: url('../img/scattered-cloud.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.search-input {
    width: 40%;
}




/* Weather Info Box */

.weather-icon {
    width: 170px;
    height: 100px;
}

.weather-forecast-icon{
    width: 125px;
}

.MuiPaper-root{
    background-color: #97c3f58c!important;
    display: flex;
    align-items: center;
}
.weather-forecast-box{
    color: rgba(0, 0, 0, 0.54);
    height: 150px;
    display: flex;
    padding: 16px;
    align-content: center;
    flex-direction: column;
     
}

.weather-city-wrapper {
    color: #fff;
    margin-left: -15px;
}

.weather-city-title {
    text-transform: capitalize;
    font-size: 25px;
}

/* Forecast Boxes */

.forecast-boxes-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

.forecast-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19%;
    background-color: #fff;
    padding: 12px;

}

.content-wrapper {
    display: flex;

}

.main-content {
    flex: 1;
}

.side-menu.active {
    opacity: 1;
    right: 0px;
    width: 240px;
    padding: 20px 20px;
}

.side-menu-wrapper {
    position: relative;
}

.toggle-sidebar {
    width: 38px;
    height: 40px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    position: absolute;
    display: flex;
    top: 50%;
    left: -37px;
    align-items: center;
    cursor: pointer;
}

.toggle-sidebar i {
    margin-left: 10px;
    font-size: 20px;
}

.light-theme {
    background-color: #ecf1f9;
    color: #343838 !important;
}

.dark-theme {
    background-color: #343a40;
    color: #fff !important;
}

.dark-theme-body {
    background-color: #40474e;
}

.dark-theme-body .md-text-field {
    color: #fff !important;
}

.dark-theme-body .md-floating-label {
    color: #c1c1c1 !important;
}

.dark-theme-body .md-divider {
    background-color: #fff !important;
}

.side-menu.light-theme {
    border-top: 1px solid #343838;
}

.side-menu.dark-theme {
    border-top: 1px solid #4c535a;
}

.side-menu {

    /* position: fixed; */
    /* z-index: 4; */
    overflow: auto;
    /* top: 56px; */
    /* right: -275px; */
    width: 1px;
    opacity: 0;
    padding: 0px;
    /* height: 100% ; */
    height: calc(100vh - 47px);

    color: #343838;
    overflow: hidden;
    -webkit-transition: all .7s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  
}



/**************AutoComplete*************/

.search-results {
    position: absolute !important;
    width: 100%;
    z-index: 111;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 950px) {

    .side-menu.active {
        opacity: 1;
        right: 0px;
        width: 206px;
        padding: 19px 12px;
    }

    .side-menu {

        position: absolute;
       
      
    }

    .curr-weather-box {
        height: 100%;
    }

    .toggle-sidebar {
        top: 20%;
    }

    .forecast-box {
        width: 100%;
        font-size: 22px;

    }

    .weather-icon {
        width: 115px;
        height: 77px;
        margin-left: -27px;
    }
}


/***/

.weather-icon-wrapper {
    width: 115px;
    height: 77px;
    overflow: hidden;
}

/* .btn .btn-danger{
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
 } */

.favorite-icon {
    font-size: 22px;
    margin-right: 10px;
    color: orange;
}